<!DOCTYPE html>
<html lang="fr-FR">

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Contact</title>
   <link rel="stylesheet" href="../assets/styles.css">
</head>

<body>
   <header>
      <div class="logo">
         <img src="/assets/photos/logo.png" alt="logo JO">
      </div>
      <nav>
         <ul>
            <li><a href="/index.html">Accueil</a></li>
            <li><a href="billetterie.html">Billets</a></li>
            <li><a href="#">Contact</a></li>
         </ul>
      </nav>
   </header>
   <div class="container">
      <div class="sub-title center infos">
         <h2>En raison d'une panne informatique notre système de vente en ligne est intérompu</h2>
         <h4>Voici la liste de nos partenaires de vente : </h4>
      </div>
      <div class="list-partenaire">
         
      </div>
   </div>
</body>

</html>